<main class="mobileShell douyinShell liveRoomSwipeShell   ">
<div class="liveRoomSwipeStage" style="transform: translate3d(0, calc(-100dvh + 0px), 0);">
<section class="liveRoomSwipePage liveRoomSwitchPreview previous" aria-hidden="true">
<div class="liveRoomPreviewVideo">
<video class="liveRoomPreviewMedia" src="https://liveauction.tos-cn-beijing.volces.com/douyin-h5/videos/7161000281575148800.mp4" autoplay="" loop="" playsinline="" preload="metadata">
</video>
</div>
<div class="liveRoomPreviewTop">
<span class="liveRoomPreviewAvatar">
<img alt="" referrerpolicy="no-referrer" loading="lazy" src="https://liveauction.tos-cn-beijing.volces.com/douyin-h5/images/avatar-8357999-1bd1vnm.jpeg">
</span>
<span>
<b>直播间</b>
<small>直播中</small>
</span>
</div>
<div class="liveRoomPreviewCenter">
<span>LIVE</span>
<strong>直播间</strong>
</div>
</section>
<section class="mobileShell douyinShell liveRoomSwipePage liveRoomSwipeCurrent   ">
<section class="livePlayerShell">
<video class="nativeLiveVideo" poster="https://assets.example.test/lot-fixture-01.jpg" autoplay="" playsinline="" preload="auto" loop="" src="https://liveauction.tos-cn-beijing.volces.com/douyin-h5/videos/6882368275695586568.mp4">
</video>
<div class="playerMessage">直播画面加载中</div>
<div class="liveOverlay">
<div class="liveTopLine">
<span class="liveBadge">LIVE</span>
<b>严选主播</b>
<span class="wsDot ok">已连接</span>
</div>
<div class="liveHeat">
<span>🔥 1,286 在线</span>
<i>+99</i>
<i>❤️</i>
<i>竞拍热度上升</i>
</div>
<div class="liveRoomName">严选珠宝直播间</div>
</div>
</section>
<section class="liveRoomChrome" aria-label="直播间信息">
<div class="liveRoomTop">
<div class="liveRoomTopLeft">
<div class="liveAnchorLine">
<div class="anchorAvatar">
<img alt="" referrerpolicy="no-referrer" loading="lazy" src="https://liveauction.tos-cn-beijing.volces.com/douyin-h5/images/avatar-jingyiziran-176539n.jpeg">
</div>
<div class="anchorCopy">
<strong>严选主播</strong>
<span>9.3w本场点赞</span>
</div>
<button type="button" class="followAnchor">关注</button>
</div>
<div class="liveAnchorTags" aria-label="直播标签">
<span>讲解</span>
<span>严选第1名</span>
<button type="button">已结束 ›</button>
</div>
</div>
<div class="liveRoomTopRight">
<div class="liveViewerStack" aria-label="在线观众">
<span>
<img alt="" referrerpolicy="no-referrer" loading="lazy" src="https://liveauction.tos-cn-beijing.volces.com/douyin-h5/images/avatar-lsy0508-160edjy.jpeg">
</span>
<span>
<img alt="" referrerpolicy="no-referrer" loading="lazy" src="https://liveauction.tos-cn-beijing.volces.com/douyin-h5/images/avatar-jingyiziran-176539n.jpeg">
</span>
<span>
<img alt="" referrerpolicy="no-referrer" loading="lazy" src="https://liveauction.tos-cn-beijing.volces.com/douyin-h5/images/avatar-jingyiziran-176539n.jpeg">
</span>
<b>1,286</b>
<button type="button" class="closeLive" aria-label="关闭直播间">×</button>
</div>
<button type="button" class="moreCity">
<span>更多同城</span>
<i>›</i>
</button>
</div>
</div>
</section>
<section class="liveEffectsLayer" aria-label="直播互动动态">
<div class="liveBarrageLane" aria-hidden="true">
<span>和田玉平安扣 正在竞拍</span>
<span>喜欢这件可以打开商品</span>
<span>直播间热度上升</span>
</div>
<div class="liveJoinTicker" aria-hidden="true">
<span>严选拍友 进入直播间</span>
<span>收藏顾问 进入直播间</span>
<span>拍场观察 进入直播间</span>
</div>
<div class="liveGiftBurst" aria-hidden="true">
<i>
</i>
<span>商品热度上升</span>
</div>
<div class="liveChatStream">
<p class="system" style="--live-chat-index: 0;">
<b>系统提示</b>
<span>平台倡导理性消费，请勿私下交易，订单和支付以 LiveAuction 页面为准。</span>
</p>
<p class="" style="--live-chat-index: 1;">
<b>严选主播</b>
<span>正在竞拍 和田玉平安扣</span>
</p>
<p class="" style="--live-chat-index: 2;">
<b>拍友7281</b>
<span>主播可以再看一下细节吗</span>
</p>
<p class="" style="--live-chat-index: 3;">
<b>收藏新手</b>
<span>等主播讲到细节我再看商品</span>
</p>
</div>
</section>
<div class="noticeLayer" aria-live="polite">
</div>
<footer class="liveComposer" aria-label="直播互动输入">
<button type="button" class="commentInput">说点什么...</button>
<button type="button" class="composerIconButton" aria-label="商品橱窗">
<svg class="composerCartIcon" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
<g filter="url(#composerCartFilter0)">
<mask id="composerCartMask" maskUnits="userSpaceOnUse" x="3" y="6" width="21" height="13" style="mask-type: alpha;">
<path d="M5.056 6.223h.94c.73 0 2.009.325 2.654.844.212.17.461.322.734.322h12.414c.99 0 1.729.913 1.521 1.882l-1.535 7.163a2.333 2.333 0 0 1-2.281 1.844h-9.435a2.333 2.333 0 0 1-2.307-1.983L6.693 9.256c-.04-.354-.34-.7-.696-.7h-.941a1.167 1.167 0 1 1 0-2.333z" fill="url(#composerCartPaint0)">
</path>
</mask>
<g mask="url(#composerCartMask)">
<g filter="url(#composerCartFilter1)">
<path d="M5.056 6.223h.94c.73 0 2.009.325 2.654.844.212.17.461.322.734.322h12.414c.99 0 1.729.913 1.521 1.882l-1.535 7.163a2.333 2.333 0 0 1-2.281 1.844h-9.435a2.333 2.333 0 0 1-2.307-1.983L6.693 9.256c-.04-.354-.34-.7-.696-.7h-.941a1.167 1.167 0 1 1 0-2.333z" fill="url(#composerCartPaint1)">
</path>
</g>
<g filter="url(#composerCartFilter2)">
<path d="m5.445 9.723 1.879 7.214a2.333 2.333 0 0 0 2.258 1.746H19.66a2.333 2.333 0 0 0 2.232-1.655l2.22-7.305" stroke="#FD5C01" stroke-width="1.556" stroke-linejoin="round">
</path>
</g>
<g opacity=".9" filter="url(#composerCartFilter3)">
<path fill-rule="evenodd" clip-rule="evenodd" d="M10.306 11.279c0-.322.261-.584.584-.584h8.166a.583.583 0 0 1 0 1.167H10.89a.583.583 0 0 1-.583-.583z" fill="url(#composerCartPaint2)">
</path>
</g>
<g opacity=".9" filter="url(#composerCartFilter4)">
<path fill-rule="evenodd" clip-rule="evenodd" d="M10.695 14.388c0-.322.261-.583.583-.583h7.389a.583.583 0 1 1 0 1.166h-7.389a.583.583 0 0 1-.583-.583z" fill="url(#composerCartPaint3)">
</path>
</g>
</g>
<g filter="url(#composerCartFilter5)">
<path fill-rule="evenodd" clip-rule="evenodd" d="M9.528 22.558a1.361 1.361 0 1 0 0-2.722 1.361 1.361 0 0 0 0 2.722z" fill="url(#composerCartPaint4)">
</path>
</g>
<g filter="url(#composerCartFilter6)">
<path fill-rule="evenodd" clip-rule="evenodd" d="M19.25 22.558a1.361 1.361 0 1 0 0-2.722 1.361 1.361 0 0 0 0 2.722z" fill="url(#composerCartPaint5)">
</path>
</g>
</g>
<defs>
<filter id="composerCartFilter0" x="2.334" y="5.445" width="22.576" height="19.447" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix">
</feFlood>
<feColorMatrix in="SourceAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha">
</feColorMatrix>
<feOffset dy=".778">
</feOffset>
<feGaussianBlur stdDeviation=".778">
</feGaussianBlur>
<feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0">
</feColorMatrix>
<feBlend in2="BackgroundImageFix" result="effect1_dropShadow">
</feBlend>
<feBlend in="SourceGraphic" in2="effect1_dropShadow" result="shape">
</feBlend>
</filter>
<filter id="composerCartFilter1" x="3.889" y="6.223" width="19.465" height="12.444" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix">
</feFlood>
<feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape">
</feBlend>
<feColorMatrix in="SourceAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha">
</feColorMatrix>
<feOffset dy=".389">
</feOffset>
<feGaussianBlur stdDeviation=".778">
</feGaussianBlur>
<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1">
</feComposite>
<feColorMatrix values="0 0 0 0 1 0 0 0 0 0.755343 0 0 0 0 0.229783 0 0 0 1 0">
</feColorMatrix>
<feBlend in2="shape" result="effect1_innerShadow">
</feBlend>
</filter>
<filter id="composerCartFilter2" x="1.581" y="6.385" width="26.386" height="16.187" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix">
</feFlood>
<feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape">
</feBlend>
<feGaussianBlur stdDeviation="1.556" result="effect1_foregroundBlur">
</feGaussianBlur>
</filter>
<filter id="composerCartFilter3" x="9.528" y="10.306" width="10.889" height="2.724" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix">
</feFlood>
<feColorMatrix in="SourceAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha">
</feColorMatrix>
<feOffset dy=".389">
</feOffset>
<feGaussianBlur stdDeviation=".389">
</feGaussianBlur>
<feColorMatrix values="0 0 0 0 0.758333 0 0 0 0 0.2275 0 0 0 0 0 0 0 0 0.296247 0">
</feColorMatrix>
<feBlend in2="BackgroundImageFix" result="effect1_dropShadow">
</feBlend>
<feBlend in="SourceGraphic" in2="effect1_dropShadow" result="shape">
</feBlend>
<feColorMatrix in="SourceAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha2">
</feColorMatrix>
<feOffset dy="-.389">
</feOffset>
<feGaussianBlur stdDeviation=".194">
</feGaussianBlur>
<feComposite in2="hardAlpha2" operator="arithmetic" k2="-1" k3="1">
</feComposite>
<feColorMatrix values="0 0 0 0 1 0 0 0 0 0.658586 0 0 0 0 0.42763 0 0 0 1 0">
</feColorMatrix>
<feBlend in2="shape" result="effect2_innerShadow">
</feBlend>
</filter>
<filter id="composerCartFilter4" x="9.917" y="13.416" width="10.111" height="2.724" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix">
</feFlood>
<feColorMatrix in="SourceAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha">
</feColorMatrix>
<feOffset dy=".389">
</feOffset>
<feGaussianBlur stdDeviation=".389">
</feGaussianBlur>
<feColorMatrix values="0 0 0 0 0.758333 0 0 0 0 0.2275 0 0 0 0 0 0 0 0 0.296247 0">
</feColorMatrix>
<feBlend in2="BackgroundImageFix" result="effect1_dropShadow">
</feBlend>
<feBlend in="SourceGraphic" in2="effect1_dropShadow" result="shape">
</feBlend>
<feColorMatrix in="SourceAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha2">
</feColorMatrix>
<feOffset dy="-.389">
</feOffset>
<feGaussianBlur stdDeviation=".194">
</feGaussianBlur>
<feComposite in2="hardAlpha2" operator="arithmetic" k2="-1" k3="1">
</feComposite>
<feColorMatrix values="0 0 0 0 1 0 0 0 0 0.658586 0 0 0 0 0.42763 0 0 0 1 0">
</feColorMatrix>
<feBlend in2="shape" result="effect2_innerShadow">
</feBlend>
</filter>
<filter id="composerCartFilter5" x="8.167" y="19.836" width="2.722" height="2.878" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix">
</feFlood>
<feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape">
</feBlend>
<feColorMatrix in="SourceAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha">
</feColorMatrix>
<feOffset dy=".156">
</feOffset>
<feGaussianBlur stdDeviation=".389">
</feGaussianBlur>
<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1">
</feComposite>
<feColorMatrix values="0 0 0 0 1 0 0 0 0 0.755343 0 0 0 0 0.229783 0 0 0 1 0">
</feColorMatrix>
<feBlend in2="shape" result="effect1_innerShadow">
</feBlend>
</filter>
<filter id="composerCartFilter6" x="17.889" y="19.836" width="2.722" height="2.878" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix">
</feFlood>
<feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape">
</feBlend>
<feColorMatrix in="SourceAlpha" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha">
</feColorMatrix>
<feOffset dy=".156">
</feOffset>
<feGaussianBlur stdDeviation=".389">
</feGaussianBlur>
<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1">
</feComposite>
<feColorMatrix values="0 0 0 0 1 0 0 0 0 0.755343 0 0 0 0 0.229783 0 0 0 1 0">
</feColorMatrix>
<feBlend in2="shape" result="effect1_innerShadow">
</feBlend>
</filter>
<linearGradient id="composerCartPaint0" x1="-3.841" y1="10.294" x2="6.267" y2="26.657" gradientUnits="userSpaceOnUse">
<stop stop-color="#FFB100">
</stop>
<stop offset="1" stop-color="#FC8901">
</stop>
</linearGradient>
<linearGradient id="composerCartPaint1" x1="-3.841" y1="10.294" x2="6.267" y2="26.657" gradientUnits="userSpaceOnUse">
<stop stop-color="#FFB100">
</stop>
<stop offset="1" stop-color="#FC8901">
</stop>
</linearGradient>
<linearGradient id="composerCartPaint2" x1="15.795" y1="12.277" x2="15.97" y2="10.61" gradientUnits="userSpaceOnUse">
<stop stop-color="#FFF9E0">
</stop>
<stop offset="1" stop-color="#F4E0B9">
</stop>
</linearGradient>
<linearGradient id="composerCartPaint3" x1="15.726" y1="15.387" x2="15.917" y2="13.723" gradientUnits="userSpaceOnUse">
<stop stop-color="#FFF9E0">
</stop>
<stop offset="1" stop-color="#F4E0B9">
</stop>
</linearGradient>
<linearGradient id="composerCartPaint4" x1="7.004" y1="20.944" x2="9.22" y2="23.666" gradientUnits="userSpaceOnUse">
<stop stop-color="#FFB100">
</stop>
<stop offset="1" stop-color="#FC8901">
</stop>
</linearGradient>
<linearGradient id="composerCartPaint5" x1="16.727" y1="20.944" x2="18.943" y2="23.666" gradientUnits="userSpaceOnUse">
<stop stop-color="#FFB100">
</stop>
<stop offset="1" stop-color="#FC8901">
</stop>
</linearGradient>
</defs>
</svg>
</button>
<button type="button" class="composerIconButton" aria-label="点赞直播">
<img class="composerImageIcon composerHeartIcon" alt="" aria-hidden="true" loading="lazy" src="/douyin-assets/gifts/xiao-xin-xin.png">
</button>
<button type="button" class="composerIconButton" aria-label="礼物">
<img class="composerImageIcon composerGiftIcon" alt="" aria-hidden="true" loading="lazy" src="/douyin-assets/gifts/gift-icon.svg">
</button>
<button type="button" class="composerIconButton" aria-label="更多操作">
<img class="composerImageIcon composerMoreIcon" alt="" aria-hidden="true" loading="lazy" src="/douyin-assets/icons/share-white-full.png">
</button>
</footer>
<div class="modalMask resultModalMask">
<section class="resultModal resultModalWin" aria-modal="true" role="dialog">
<button class="modalClose" type="button" aria-label="关闭结果弹窗">×</button>
<div class="resultStatusPill resultStatusWin">
<svg class="resultMiniIcon" viewBox="0 0 24 24" aria-hidden="true">
<path d="m3.8 8.2 4.4 4.1L12 5.2l3.8 7.1 4.4-4.1-1.7 10.3h-13L3.8 8.2Z">
</path>
<path d="M6.2 20h11.6">
</path>
</svg>
<span>竞拍成功</span>
</div>
<div class="resultHeroCopy">
<h2 class="resultHeroTitle">
<span>落槌</span>
<em>归你</em>
<svg class="resultDecorIcon" viewBox="0 0 24 24" aria-hidden="true">
<path d="m14 13-7.2 7.2a1.6 1.6 0 0 1-2.3-2.3L11.7 11">
</path>
<path d="m16 16 5-5">
</path>
<path d="m20.5 10.5-7-7">
</path>
<path d="m8.5 7.5 5-5">
</path>
<path d="m8 8 8 8">
</path>
</svg>
</h2>
<p>最后一锤已定，这件拍品已为你锁定</p>
</div>
<div class="resultWinMedia">
<img alt="和田玉平安扣" src="https://assets.example.test/lot-fixture-01.jpg">
<span class="resultWinBadge">
<svg class="resultMiniIcon" viewBox="0 0 24 24" aria-hidden="true">
<path d="m3.8 8.2 4.4 4.1L12 5.2l3.8 7.1 4.4-4.1-1.7 10.3h-13L3.8 8.2Z">
</path>
<path d="M6.2 20h11.6">
</path>
</svg>已竞得</span>
</div>
<section class="resultProductName" aria-label="竞得拍品">
<span>你的拍品</span>
<h3>和田玉平安扣</h3>
</section>
<section class="resultPricePanel resultPriceWin" aria-label="落槌价格">
<span>你的落槌价</span>
<strong class="scrollAmount" title="720.00元">720.00元</strong>
</section>
<section class="resultDeposit" aria-label="保证金">
<span>
<svg class="resultMiniIcon" viewBox="0 0 24 24" aria-hidden="true">
<path d="M12 3.4c2 1.6 4.2 2.5 6.7 2.7v5.5c0 4.4-2.6 7.2-6.7 8.9-4.1-1.7-6.7-4.5-6.7-8.9V6.1c2.5-.2 4.7-1.1 6.7-2.7Z">
</path>
<path d="m8.9 12 2.1 2.1 4.2-4.4">
</path>
</svg>保证金</span>
<b>付款完成后原路退回</b>
</section>
<button class="resultPrimaryButton" type="button">确认地址并完成付款<svg class="resultButtonIcon" viewBox="0 0 24 24" aria-hidden="true">
<path d="M5 12h12.5">
</path>
<path d="m13 7.5 4.5 4.5-4.5 4.5">
</path>
</svg>
</button>
<p class="resultPayCountdown">
<svg class="resultMiniIcon" viewBox="0 0 24 24" aria-hidden="true">
<circle cx="12" cy="12" r="8.2">
</circle>
<path d="M12 7.8v4.7l3.1 1.9">
</path>
</svg>支付剩余 <b>15:00</b> ｜ 逾期视为放弃</p>
</section>
</div>
</section>
<section class="liveRoomSwipePage liveRoomSwitchPreview next" aria-hidden="true">
<div class="liveRoomPreviewVideo">
<video class="liveRoomPreviewMedia" src="https://liveauction.tos-cn-beijing.volces.com/douyin-h5/videos/6931271799195831566.mp4" autoplay="" loop="" playsinline="" preload="metadata">
</video>
</div>
<div class="liveRoomPreviewTop">
<span class="liveRoomPreviewAvatar">
<img alt="" referrerpolicy="no-referrer" loading="lazy" src="https://liveauction.tos-cn-beijing.volces.com/douyin-h5/images/avatar-8357999-1bd1vnm.jpeg">
</span>
<span>
<b>直播间</b>
<small>直播中</small>
</span>
</div>
<div class="liveRoomPreviewCenter">
<span>LIVE</span>
<strong>直播间</strong>
</div>
</section>
</div>
</main>
